Django==2.2.1
bcrypt
django-multiselectfield
django-htmlmin
django-otp
django-taggit
django-ckeditor
pycountry
social-auth-app-django
qrcode
arrow
Pillow
Markdown
readtime
gitpython
uwsgi
mysqlclient

# Store
django-paypal
weasyprint
celery
localflavor