Django==2.1.7
bcrypt
django-multiselectfield
django-htmlmin
django-otp
django-machina
django-taggit
django-oscar
django-oscar-paypal
pycountry
social-auth-app-django
qrcode
arrow
Pillow
Markdown
readtime
psycopg2
gitpython
uwsgi
mysqlclient