{% extends 'board_base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}

{% block sub_title %}{% trans "Index" %}{% endblock sub_title %}

{% block content %}
<section class="pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col">
		
				{% forum_list forums %}

				<div class="card card-secondary shadow-none rounded-0">
					<h6 class="card-header bg-lighten">{% trans "Statistics" %}</h6>
					<div class="card-body">
						<h6 class="mt-1 mb-3">{% trans "Total posts:" %} <span class="font-weight-normal">{{ total_posts_count }}</span>&nbsp;{% trans "Total topics:" %} <span class="font-weight-normal">{{ total_topics_count }}</span></h6>
					</div>
				</div>
				{% if request.user.is_authenticated %}
					<a href="{% url 'forum_tracking:mark_all_forums_read' %}" class="btn btn-link"><i class="fa fa-check-circle-o">&nbsp;</i>{% trans "Mark forums read" %}</a>
					<a href="{% url 'forum_tracking:unread_topics' %}" class="btn btn-link">{% trans "View unread topics" %}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}
