{% extends '_base.html' %}

{% block title %}Reply - Editing {{ post.title }}{% endblock %}

{% block content %} 
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center py-3">
                    <h2 class="h3 text-white mb-0 mr-auto">Editing Post</h2>
                    <a class="btn btn-outline-light" href="{% url 'blog_post_page' post.slug %}" role="button">Back to {{ post.title }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="bg-white border-bottom" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog_home_page' %}">Blog</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog_post_page' post.slug %}">{{ post.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Reply by {{ reply.user.username }}</li>
        </ol>
    </div>
</nav>
<section class="py-lg-5">
    <div class="container">

        <form action="{% url 'blog_post_reply_edit' post.slug reply.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-9">
                {% for field in form %}
                    {% if field.errors %}<strong>{{ field.errors }}</strong>{% endif %}
                    {% if field.name == 'content' %}
                    <div class="form-group ckeditor ckeditor-lg{% if field.errors %} has-danger{% endif %}">
                        <textarea name="content" cols="40" rows="10" class="form-control" id="editor">{{ reply.body }}</textarea>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="update_reason" class="form-control" placeholder="Update Reason" minlength="5" id="update_reason">
                </div>
                </div>
                <div class="col-lg-3">
                    <div class="row row-md mb-3">
                        <input type="submit" class="btn btn-primary btn-block" value="Edit">
                    </div>
                    <div class="row row-md mb-3">
                        {% include '_recaptcha.html' %}
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}

{% block end_js %}
{% load static %}
<script src="{% static 'plugins/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'));
</script>
{% endblock %}