<footer class="site-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0 pb-1 pb-md-0">
                <div class="footer-title">About {{ SITE_TITLE }}</div>
                <p>{% lorem 1 %}</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0 pb-1 pb-md-0">
                <div class="footer-title">Popular Categories</div>
                <div class="footer-tags">
                    <a href="#">Playstation 4</a>
                    <a href="#">Xbox One</a>
                    <a href="#">God of War</a>
                    <a href="#">Bioshock</a>
                    <a href="#">Uncharted 4</a>
                    <a href="#">Uplay</a>
                    <a href="#">Steam</a>
                    <a href="#">Wordpress</a>
                    <a href="#">Rachet</a>
                    <a href="#">Github</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-title">Subscribe</div>
                <p>Subscribe to our newsletter and get notification when new games are available.</p>
                <form action="{% url 'newsletter_subscribe' %}" method="POST">
                    <div class="input-group mt-4">
                        {% csrf_token %}
                        <input type="email" name="email" id="email" class="form-control shadow-none border-0" placeholder="Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container d-flex flex-column flex-md-row">
            <div class="order-2 order-md-1">
                <div class="footer-links d-none d-md-inline-block">
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <p class="footer-copyright"></p>
            </div>
            <div class="footer-social order-1 order-md-2 ml-md-auto text-center text-md-right">
                <span class="d-none d-sm-block mb-2">follow us on social media</span>
                <a href="#" target="_blank" data-toggle="tooltip" title="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="discord"><i class="fab fa-discord"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="youtube"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="github"><i class="fab fa-github"></i></a>
                <a href="#" target="_blank" data-toggle="tooltip" title="twitch"><i class="fab fa-twitch"></i></a>
            </div>
        </div>
    </div>
</footer>