{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <a class="navbar-brand" href="/">FreeDome</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog_home_page' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'forum:index' %}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="/store/">Store</a></li>
            </ul>
        </div>

        {% comment %} <form class="navbar-search" action="#" method="post">
            <div class="container">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for games, posts..." aria-label="Search">
                <i class="fas fa-times search-close"></i>
            </div>
        </form> {% endcomment %}

        <ul class="navbar-nav navbar-right flex-row d-flex align-items-center">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <span class="d-none d-md-inline-block">Login</span>
                    <span class="d-inline-block d-md-none"><i class="fas fa-user"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">
                    <span class="d-none d-md-inline-block">Register</span>
                    <span class="d-inline-block d-md-none"><i class="fas fa-user-plus"></i></span>
                </a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-none py-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar avatar-xs rounded-circle mr-xl-2" src="{% static 'img/user-1.jpg' %}" alt="">
                    <span class="d-none d-xl-inline-block">{{ request.user.username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a>
                    <a class="dropdown-item" href="/store/accounts/orders/"><i class="fas fa-heart"></i> Purchases</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-logout"></i> Logout</a>
                </div>
            </li>
            {% endif %}

            {% comment %} {% if request.user.is_authenticated %}
            <li class="nav-item dropdown dropdown-cart d-block">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                    {% if cart %}<span class="badge badge-warning"></span>{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-white">
                    <div class="dropdown-header mb-0"><i class="fas fa-shopping-cart"></i> Cart ({% if cart %}{{ cart.items.count }}{% else %}0{% endif %})</div>
                    <div class="dropdown-scrollable">
                        <ul class="dropdown-list">
                            {% if cart and cart.items %}
                            {% for item in cart.items.all %}
                            <li class="dropdown-list-item">
                                <img class="mr-1" src="{{ item.image.url }}" alt="">
                                <div class="pl-2">
                                    <a class="font-weight-semibold" href="shop-product.html">{{ item.title }}</a>
                                    <div class="font-size-md font-weight-bold mt-1">${{ item.price }}</div>
                                </div>
                                <button type="button" class="btn btn-link cart-remove"><i class="fas fa-trash"></i></button>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="dropdown-list-item">
                            No Items in Cart
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="dropdown-footer bg-lighten pt-0 pb-2 px-0">
                        <div class="d-flex border-bottom mb-2 px-3 py-2">
                            Total: <span class="ml-auto font-weight-bold text-danger">${% if cart and cart.items %}{{ cart.total_price }}{% else %}0{% endif %}</span>
                        </div>
                        <div class="d-flex px-3">
                            <a class="btn btn-outline btn-sm" href="shop-cart.html">View Cart</a>
                            <a class="btn btn-primary btn-sm ml-auto" href="shop-checkout.html">Checkout</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %} {% endcomment %}

            <li class="nav-item"><a class="nav-link toggle-search" href="#"><i class="fas fa-search"></i></a></li>
        </ul>
    </div>
</nav>