{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load general_tags %}
{% load static %}
<section class="p-0 overflow-hidden">
    <div class="owl-carousel" ya-carousel="autoplay: true;height: true">
        <div class="owl-carousel-item">
            <img src="{{ homedata.background.url }}" ya-style="opacity: .28" alt="">
            <div class="owl-caption">
                <div class="owl-caption-container">
                    <h1 class="owl-title">{{ homedata.title }}</h1>
                    <p class="owl-text">{{ homedata.tagline }}</p>
                    <a class="btn btn-outline-light btn-lg btn-rounded ml-2" href="{{ homedata.video_link }}" ya-lightbox role="button">Watch Trailer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white border-top border-bottom py-0 py-md-4">
    <div class="container-fluid">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 px-xs-0">
                <div class="img-cover" style="min-height: 600px;">
                    <img src="https://static.giantbomb.com/uploads/original/2/22934/2759159-image_horizon_zero_dawn-28643-3283_0009.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 pl-md-5 pb-4 pb-md-0 mr-auto mt-4 mt-md-0 mb-2 mb-md-0">
                <div class="px-2 px-md-0">
                    <h2 class="display-5 font-weight-normal text-dark mb-3">Horizon Zero Dawn</h2>
                    <p class="lead">Horizon Zero Dawn is an exhilarating action role playing game developed by the award winning Guerrilla Games, creators of PlayStation’s venerated Killzone franchise.</p>
                    <hr>
                    <p class="mb-4 pb-2">As Horizon Zero Dawn’s main protagonist Aloy, a skilled hunter, explore a vibrant and lush world inhabited by mysterious mechanized creatures. Embark on a compelling, emotional journey and unravel mysteries of tribal societies, ancient artifacts and advanced technologies that will determine the fate of this planet, and of life itself.</p>
                    <a class="btn btn-outline-primary btn-lg mr-1" href="game-post.html" role="button">View Game</a>
                    <a class="btn btn-dark btn-lg" href="#" role="button">Follow now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 text-center mx-auto mb-4">
                <i class="ya ya-ranking icon"></i>
                <h2 class="font-weight-bold font-size-lg">Classes and Characters</h2>
            </div>
        </div>
        <div class="row row-md">
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/qKZa-SUTg0g/mqdefault.jpg" alt="Assassin's Creed: Odyssey The Movie">
                        <div class="card-meta">
                            <span>5:31</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">Assassin's Creed: Odyssey The Movie</a></h6>
                        <p class="card-text font-size-md">A collection of every cutscene, telling the story of Assassin's Creed: Origins and spoiler...</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 24, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 1009 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/kl89hzB0L4g/mqdefault.jpg" alt="Knights of the Frozen Throne Opening Cinematic">
                        <div class="card-meta">
                            <span>4:12</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">Knights of the Frozen Throne Opening Cinematic</a></h6>
                        <p class="card-text font-size-md">Take a look at the intro cinematic for the upcoming Hearthstone expansion....</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 24, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 5235 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/_pHuYmlGu-M/mqdefault.jpg" alt="The Villains of the DC Universe Movies">
                        <div class="card-meta">
                            <span>34:44</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">The Villains of the DC Universe Movies</a></h6>
                        <p class="card-text font-size-md">This box set includes 30 full-length feature films and 5 animated shorts, combined with ne...</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 20, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 559 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/__2RsAP1sZc/mqdefault.jpg" alt="Overwatch Animated Short Infiltration">
                        <div class="card-meta">
                            <span>15:05</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">Overwatch Animated Short Infiltration</a></h6>
                        <p class="card-text font-size-md">'What do you get when you spend $39.99 on Overwatch loot crates? Jack plays through an ear...</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 16, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 4890 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/YsVv1ct3_7c/mqdefault.jpg" alt="We Play The Crew: Jumping the Grand Canyon">
                        <div class="card-meta">
                            <span>15:05</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">We Play The Crew: Jumping the Grand Canyon</a></h6>
                        <p class="card-text font-size-md">See how you can customize your car for each situation, whether it's going off road......</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 16, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 478 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/RgbKEjDo6-o/mqdefault.jpg" alt="VAMPYR Gameplay - Upcoming Single Player Game">
                        <div class="card-meta">
                            <span>7:01</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">VAMPYR Gameplay - Upcoming Single Player Game</a></h6>
                        <p class="card-text font-size-md">Detract yet delight written farther his general. If in so bred at dare rose lose good. Fee...</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 14, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 3698 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/a-_-cHTjHgg/mqdefault.jpg" alt="PlayStation VR Headset, Camera, and Controller is Coming">
                        <div class="card-meta">
                            <span>3:50</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">PlayStation VR Headset, Camera, and Controller is Coming</a></h6>
                        <p class="card-text font-size-md">For the first time see direct feed from the Project Morpheus shark attack......</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 11, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 7788 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="video-post.html">
                        <img src="https://i1.ytimg.com/vi/6vLFcjTeXSk/mqdefault.jpg" alt="Superhot VR Gameplay PlayStation">
                        <div class="card-meta">
                            <span>12:25</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="video-post.html">Superhot VR Gameplay PlayStation</a></h6>
                        <p class="card-text font-size-md">Let's play Superhot VR on PS VR! Our fearless action hero Sid Shuman walks us through the ...</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-clock"></i> Jul 10, 2018</span>
                        <span class="ml-auto"><i class="ya ya-eye"></i> 982 views</span>
                    </div>
                </div>
                <!-- end .card -->
            </div>
        </div>
    </div>
</section>

<section class="py-5 py-md-6">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 text-center mx-auto mb-4">
                <i class="ya ya-ranking icon"></i>
                <h2 class="font-weight-bold font-size-lg">Recent blog posts.</h2>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card card-sm">
                    <a class="card-img card-img-lg" href="{{ post.get_absolute_url }}">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h5>
                        <p class="card-tex font-size-md mb-0">{{ post.body|truncatewords:55|markdown|striptags }}</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-calendar"></i> {{ post.published_date }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-secondary btn-lg mt-3" href="{% url 'blog_home_page' %}" role="button">Browse Blog</a>
        </div>
    </div>
</section>

{% endblock %}