{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load general_tags %}
{% load static %}

<section class="p-0 overflow-hidden">
    <div class="owl-carousel" ya-carousel="autoplay: true;height: true">
        {% for entry in carousel %}
        <div class="owl-carousel-item">
            <img src="{{ entry.background.url }}" ya-style="opacity: .28" alt="">
            <div class="owl-caption">
                <div class="owl-caption-container">
                    <h1 class="owl-title">{{ entry.title }}</h1>
                    <p class="owl-text">{{ entry.tagline }}</p>
                    {% if entry.video_link %}<a class="btn btn-outline-light btn-lg btn-rounded ml-2" href="{{ entry.video_link }}" ya-lightbox role="button">Watch Trailer</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="bg-white border-top border-bottom py-0 py-md-4">
    <div class="container-fluid">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 px-xs-0">
                <div class="img-cover" style="min-height: 600px;">
                    <img src="{{ homedata.image.url }}" alt="">
                </div>
            </div>
            <div class="col-lg-5 pl-md-5 pb-4 pb-md-0 mr-auto mt-4 mt-md-0 mb-2 mb-md-0">
                <div class="px-2 px-md-0">
                    <h2 class="display-5 font-weight-normal text-dark mb-3">{{ SITE_TITLE }}</h2>
                    <p class="lead">{{ homedata.about }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 text-center mx-auto mb-4">
                <i class="ya ya-ranking icon"></i>
                <h2 class="font-weight-bold font-size-lg">Classes and Characters</h2>
            </div>
        </div>

        <div class="row row-md">
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="#">
                        <img src="{% static 'img/mercenary_AK-47_A.png' %}" alt="Mercenary">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Mercenary</a></h6>
                        <p class="card-text font-size-md">These guys are your everyday warrior class. Can take a little bit of a beating and have enough firepower to handle their own.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="#">
                        <img src="{% static 'img/Sniper_B.png' %}" alt="Sniper">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Sniper</a></h6>
                        <p class="card-text font-size-md">Snipers are similar to assassin class in other games. Very high firepower, good speed but a little lower in health. Snipers will have the ability to blend in with their environment, disappearing for moments within the game. They also will have the ability to spy on the map with the use of mini helicopters.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="#">
                        <img src="{% static 'img/Medic_AA.png' %}" alt="Medic">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Medic</a></h6>
                        <p class="card-text font-size-md">Medics are your support. Within the match, he will be able to heal other characters and provide support to the front line with the use of Grenade Launchers. This will be one of the most important and least gratifying roles in the game.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                <div class="card card-sm">
                    <a class="card-img card-img-sm" href="#">
                        <img src="{% static 'img/Engineer-Shotty_A.png' %}" alt="Engineer">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Engineer</a></h6>
                        <p class="card-text font-size-md">Engineers are the frontline support role. They will be equipped with devastating short ranged high powered shotguns. They will be heavily armored but slow. Probably the most entertaining gun will belong to this class, full-auto shotgun. Engineers also have the task of repairing damaged towers and prolonging the team’s chances of victory.</p>
                    </div>
                </div>
            </div>

            {% for character in characters %}
                <div class="col-sm-6 col-md-4 col-lg-3 card-group mb-sm-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-sm" href="#">
                            <img src="{{ character.image.url }}" alt="{{ character.title }}">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">{{ character.character_class }}: {{ character.title }}</a></h6>
                            <p class="card-text font-size-md">{{ character.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>

<section class="py-5 py-md-6">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 text-center mx-auto mb-4">
                <i class="ya ya-ranking icon"></i>
                <h2 class="font-weight-bold font-size-lg">Recent blog posts.</h2>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card card-sm">
                    <a class="card-img card-img-lg" href="{{ post.get_absolute_url }}">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h5>
                        <p class="card-tex font-size-md mb-0">{{ post.body|truncatewords:55|markdown|striptags }}</p>
                    </div>
                    <div class="card-footer">
                        <span><i class="ya ya-calendar"></i> {{ post.published_date }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-secondary btn-lg mt-3" href="{% url 'blog_home_page' %}" role="button">Browse Blog</a>
        </div>
    </div>
</section>

{% endblock %}