{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="px-2 px-md-0 py-md-7" ya-background="https://vimeo.com/300249379" ya-option="loop: true;mute: true;controls: 0;opacity: .4;quality: 4k" ya-style="background-color: #464242">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
                <div class="card mb-0 border-0">
                    <div class="card-header">
                        <h5 class="card-title">Login to your account</h5>
                    </div>
                    <div class="card-body p-3">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social btn-google-plus btn-block mb-2 mb-lg-0"><i class="fab fa-google"></i> Login with Google</a>
                        <a href="{% url 'social:begin' 'twitch' %}" class="btn btn-social btn-twitch btn-block"><i class="ya ya-twitch"></i> Login with Twitch</a>
                        <a href="{% url 'social:begin' 'discord' %}" class="btn btn-social btn-discord btn-block mb-2 mb-lg-0"><i class="ya ya-discord"></i> Login with Discord</a>
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social btn-twitter btn-block"><i class="ya ya-twitter"></i> Login with Twitter</a>
                        <div class="separator"><span>or</span></div>
                        <form action="#">
                            <input type="username_email" class="form-control mb-2" placeholder="Enter Username or Email">
                            <input type="password" class="form-control mb-3" placeholder="Password">
                            <div class="form-group form-check custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check">
                                <label class="custom-control-label" for="check">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </form>
                        <div class="separator mt-4"><span>Don't have an account?</span></div>
                        <a class="btn btn-default btn-block" href="{% url 'register' %}" role="button">Register</a>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}