{% extends '_base.html' %}

{% block title %}Topic - {{ topic.title }}{% endblock %}

{% block content %} 
{% load general_tags %}
<nav class="bg-white border-bottom" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'forum_home_page' %}">Forums</a></li>
            <li class="breadcrumb-item"><a href="{% url 'forum_list_page' forum_slug=topic.forum.slug %}">{{ topic.forum.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
        </ol>
    </div>
</nav>
<section class="pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="card">
                    <div class="card-header d-flex align-items-center px-3 px-md-4">
                        <h6 class="card-title">{{ topic.title }}</h6>
                        {% if request.user.is_authenticated and request.user == topic.author or request.user.is_staff or request.user.is_superuser%}
                        <div class="dropdown ml-auto">
                            <button class="btn btn-link p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ya ya-menu"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Edit</a>
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <a class="dropdown-item" href="#">Move</a>
                                    <a class="dropdown-item" href="#">Trash</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% load forum_tags %}
                    <table class="table table-bordered table-dashed">
                        <tbody>
                            <tr>
                                <td>{{ topic.author.username }}</td>
                                <td>{{ topic.author.username|get_author_rank_by_author_name }}</td>
                                <td>Posts: {{ topic.author|get_author_post_count_by_topic_author }}</td>
                                <td>Register Date: {{ topic.author.date_joined|date }}</td>
                                <td>Post Date: {{ topic.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-body p-3 p-md-4">
                        {{ topic.body|markdown|safe }}
                    </div>
                    {% comment %} <div class="card-footer py-3 px-4">
                        <a href="#">{{ topic.author.username }}</a> &nbsp;on {{ topic.date }}
                        <div class="ml-auto">
                            <button class="btn btn-default btn-icon btn-sm mr-1"><i class="ya ya-like"></i> (45)</button>
                            <button class="btn btn-default btn-icon btn-sm"><i class="ya ya-comment"></i> Replies (30)</button>
                        </div>
                    </div> {% endcomment %}
                </div>
                <h5 class="mt-5 mb-4">Leave a reply</h5>
                {% comment %} <form class="mb-4" method="POST" action="{% url 'reply_to_topic' forum_slug=topic.forum.slug topic_slug=topic.slug topic_id=topic.pk %}">
                    {% csrf_token %}
                    <div class="form-group ckeditor">
                        <textarea name="content" id="editor"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Submit reply</button>
                </form> {% endcomment %}

                <form class="mb-4" action="{% url 'reply_to_topic' forum_slug=topic.forum.slug topic_slug=topic.slug topic_id=topic.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                        {% for field in form %}
                            {% if field.errors %}<strong>{{ field.errors }}</strong>{% endif %}
                            {% if field.name == 'content' %}
                            <div class="form-group ckeditor ckeditor-lg{% if field.errors %} has-danger{% endif %}">
                                {{ field }}
                            </div>
                            {% else %}
                            <div class="form-group{% if field.errors %} has-danger{% endif %}">
                                {{ field }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="col-lg-3">
                            <div class="row row-md mb-3">
                                <input type="submit" class="btn btn-primary btn-block" value="Publish">
                            </div>
                            <div class="row row-md mb-3">
                                {% include '_recaptcha.html' %}
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>
<section class="bg-lighten border-top py-lg-5 px-1 px-md-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div id="comments" class="comments">
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="mb-0"><i class="ya ya-comment mr-1"></i> {{ posts_count }} Posts</h5>
                        {% comment %} <div class="dropdown ml-auto">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by date
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item active" href="#">Latest</a>
                                <a class="dropdown-item" href="#">Oldest</a>
                                <a class="dropdown-item" href="#">Best</a>
                                <a class="dropdown-item" href="#">Random</a>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    {% if not request.user.is_authenticated %}
                    <div class="alert alert-primary">
                        Please login to submit a reply to this post!
                    </div>
                    {% endif %}
                    {% for post in posts %}
                    <div class="media">
                        <div class="media-body">
                            <div class="d-flex">
                                <div class="d-flex">
                                    <a class="h6" href="#">{{ post.author }}</a>
                                    <div class="media-meta">{{ post.date }}</div>
                                </div>
                                {% comment %} <div class="media-tools">
                                    <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="hide"><i class="ya ya-hide"></i></a>
                                    <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="report"><i class="ya ya-flag"></i></a>
                                </div> {% endcomment %}
                            </div>
                            {{ post.body|markdown|safe }}
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>

                {% load general_tags %}
                {% include '_pagination.html' with base_path='/forum/'|addstr:view.kwargs.forum_slug|addstr:'/'|addstr:view.kwargs.topic_slug|addstr:'.'|addstr:view.kwargs.topic_id|addstr:'/' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block end_js %}
{% load static %}
<script src="{% static 'plugins/ckeditor/ckeditor.js' %}"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'));
</script>
{% endblock %}