{% extends '_base.html' %}

{% block title %}Forum View{% endblock %}

{% block content %} 
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center py-3">
                    <h2 class="h3 font-weight-semibold text-white mb-0 mr-auto">Forum topic</h2>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-dark btn-shadow" href="{% url 'forum_create_topic' forum_slug=view.kwargs.forum_slug %}" role="button">Add new topic</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="bg-white border-bottom" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'forum_home_page' %}">Forums</a></li>
            <li class="breadcrumb-item active" aria-current="page">Topic</li>
        </ol>
    </div>
</nav>
<section class="pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-md-flex align-items-center mb-4">
                    {% comment %} <form class="form-inline mr-auto mb-3 mb-md-0">
                        <span class="d-none d-lg-inline font-weight-semibold text-dark mr-3">Filter:</span>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-inline" placeholder="Search in topic...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-light border-left-0"><i class="ya ya-search m-0"></i></button>
                            </div>
                        </div>
                    </form> {% endcomment %}
                    {% load general_tags %}
                    {% include '_pagination.html' with base_path='/forum/'|addstr:view.kwargs.forum_slug|addstr:'/' %}
                </div>
                <!-- end .d-flex -->
                <table class="table table-bordered table-dashed">
                    <thead>
                        <tr>
                            <th scope="col">Topic</th>
                            <th class="text-center" style="width: 5%" scope="col">Replies</th>
                            {% comment %} <th class="d-none d-sm-table-cell text-center" style="width: 5%" scope="col">Views</th> {% endcomment %}
                            <th class="d-none d-lg-table-cell" style="width: 18%" scope="col">Latest Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load forum_tags %}
                        {% for topic in topics %}
                        <tr>
                            <td>
                                <h6 class="table-title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h6>
                                <p class="table-text">
                                    by <a href="#">{{ topic.author.username }}</a> on {{ topic.date }}
                                </p>
                            </td>
                            <td class="text-center">{{ topic.slug|get_replies_count_by_topic_slug }}</td>
                            <td class="d-none d-lg-table-cell">
                                <a class="table-subtitle" href="#">{{ topic.slug|get_latest_post_by_topic_slug:"author" }}</a>
                                <div class="table-meta">{{ topic.slug|get_latest_post_by_topic_slug:"date" }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col">Topic</th>
                            <th class="text-center" scope="col">Replies</th>
                            {% comment %} <th class="d-none d-sm-table-cell text-center" scope="col">Views</th> {% endcomment %}
                            <th class="d-none d-lg-table-cell" scope="col">Latest Post</th>
                        </tr>
                    </tfoot>
                </table>
                <!-- end .table -->
                {% include '_pagination.html' with base_path='/forum/'|addstr:view.kwargs.forum_slug|addstr:'/' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}